<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Newpress | Blog and news display</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-flaticon/flaticon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dripicons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    </head>
    <body>

     <!-- header -->
        <header class="header-area header-area2">  
		
            <div id="header-sticky" class="menu-area">
                <div class="container">
                    <div class="second-menu">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="img/logo/logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="main-menu text-right text-xl-right">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li class="sub">
												<a href="{{ url_for('index')}}">Home</a>
											</li>
                                            <li><a href="{{ url_for('blog.life_style_category') }}">Life Style</a></li>
                                            <li class="sub">
                                            <a href="{{ url_for('blog.traveling_category') }}">Travel</a>
                                            </li>
                                            <li><a href="contact.html">Shop</a></li>
                                            
                                            {% if not g.user %}
                                            <li><a href="{{ url_for('auth.user_registration')}}">Register</a></li>
                                            <li><a href="{{ url_for('auth.user_login') }}">Login</a></li>
                                            {% else %}
                                            <li><a href="{{ url_for('auth.user_logout') }}">Logout</a></li>
                                            {% endif %}
                                            <li>
                                                <div class="col-lg-4">
                                                    <div class="">
                                                        <a href="{{ url_for('blog.create_new_blog')}}">
                                                        <button class="btn" data-animation="fadeInRight" data-delay=".8s" type="submit">Create new</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                         
                            <div class="col-xl-2 col-lg-3 d-none d-lg-block mt-20 mb-20">
                                 <div class="header-social text-right">
                            <span>
                              
                                <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="menu-tigger"><i class="fas fa-search"></i></a>
                                
                                
                               </span>                    
                               <!--  /social media icon redux -->                               
                        </div>
                                 
                            </div>
                            
                                <div class="col-12">
                                    <div class="mobile-menu"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
        <!-- offcanvas-area -->
                <div class="offcanvas-menu">
                <span class="menu-close"><i class="fas fa-times"></i></span>
              <form role="search" method="get" id="searchform"   class="searchform" action="http://wordpress.zcube.in/xconsulta/">
                                <input type="text" name="s" id="search" value="" placeholder="Search"  />
                                <button><i class="fa fa-search"></i></button>
                            </form>

                  
                    <div id="cssmenu2" class="menu-one-page-menu-container">
                        <ul id="menu-one-page-menu-1" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>+8 12 3456897</span></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#howitwork"><span>info@example.com</span></a></li>
                        </ul>
                    </div>                
            </div>
            <div class="offcanvas-overly"></div>
                 <!-- offcanvas-end -->
{% block content %}

{% endblock %}

<footer class="footer-bg footer-p fix" >
           
    <div class="footer-center  pt-90 pb-60" >
        <div class="container">
            <div class="row justify-content-between">
                
                <div class="col-xl-3 col-lg-3 col-sm-6">
                
                    <div class="footer-widget mb-30">
                          <div class="f-widget-title">
                            <img src="img/logo/logo.png" alt="img">
                        </div>
                        <div class="f-contact">
                            <p> Vestibulum accumsan purus tellus. Fusce luctus daferst luctus nibh, at finibus turpis tincidunt sed.</p>
                            <ul>
                            
                           <li><i class="icon fal fa-envelope"></i>
                                <span>
                                    <a href="mailto:info@newspress.com">info@newspress.com</a>
                               <br>
                               <a href="mailto:help@newspress.com">help@newspress.com</a>
                               </span>
                            </li>
                            
                            
                        </ul>
                            
                            </div>
                    </div>
                </div>
                 
                  <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                             <h2>Quick Links</h2>
                        </div>
                        <div class="footer-link">
                            <ul>                                        
                                <li><a href="index.html">Home</a></li>
                                <li><a href="blog.html"> Featured Posts</a></li>
                                <li><a href="blog.html"> Top Stories </a></li>
                                <li><a href="blog.html">Featured Videos</a></li>
                                <li><a href="blog.html">Top News</a></li>
                                <li><a href="blog.html">Editor Choice </a></li>
                                <li><a href="faq.html">FAQ </a></li>
                                <li><a href="#">Support </a></li>
                                <li><a href="#">Help </a></li>
                                <li><a href="contact.html">Contact Us </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                  
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                           
                             <h2>Popular Posts</h2>
                        </div>
                        <div class="footer-link">
                            <ul>                                        
                                <li><a href="blog.html">Celebrity News</a></li>
                                <li><a href="blog.html"> Movies</a></li>
                                <li><a href="blog.html"> Travling</a></li>
                                
                                <li><a href="blog.html">Food</a></li>
                                <li><a href="blog.html">History</a></li>
                                <li><a href="blog.html">Music News </a></li>
                                <li><a href="blog.html">Education </a></li>
                                <li><a href="blog.html">Gaming </a></li>
                                <li><a href="blog.html">Life style </a></li>
                                <li><a href="blog.html">Fashion </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                  
              
                   <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                            <h2>Our Gallery</h2>
                        </div>
                        <div class="f-insta">
                            <ul>
                                <li><a href="img/instagram/f-galler-01.png" class=" popup-image"><img src="img/instagram/f-galler-01.png" alt="img"></a></li>
                               <li><a href="img/instagram/f-galler-02.png" class=" popup-image"><img src="img/instagram/f-galler-02.png" alt="img"></a></li>
                                <li><a href="img/instagram/f-galler-03.png" class=" popup-image"><img src="img/instagram/f-galler-03.png" alt="img"></a></li>
                                <li><a href="img/instagram/f-galler-04.png" class=" popup-image"><img src="img/instagram/f-galler-04.png" alt="img"></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>  
               
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">                         
                       Copyright  &copy; 2023 Newpress. All rights reserved.                       
                </div>
                <div class="col-lg-6 text-right text-xl-right">                       
                    <div class="footer-widget footer-social text-right text-xl-right">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>  
                            <a href="#"><i class="fab fa-instagram"></i></a>
                             <a href="#"><i class="fab fa-twitter"></i></a>
                           
                    </div>          
                </div>
                
            </div>
        </div>
    </div>
</footer>
<!-- footer-end -->

<!-- JS here -->
<script src="{{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/one-page-nav-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ajax-form.js') }}"></script>
<script src="{{ url_for('static', filename='js/paroller.js') }}"></script>
<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/js_isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/parallax.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.meanmenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/parallax-scroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/element-in-view.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>