{% extends 'base.html' %}
{% block content %}
        <!-- main-area -->
        <main>
             
            <!-- slider-area -->
            <section class="courses-area fix"  >
                <div class="container-fluid">
                  
                    <div class="row">
                         <div class="col-lg-12 col-md-12">
                             
                           <div class="featured-post-slider-active">
                            {% for post in blog_posts[:5] %}
                                 <div class="box-slider-post hover-zoomin">
                                    <a href="{{ url_for('blog.get_blog_details_by_id', id=post.id) }}" class="img-s"><img src="img/blog/travel/tr-7.jpg" alt="courses-img1"></a>
                                  <div class="text">
                                         <div class="post-tags">
                                            <ul>
                                                <li><a href="#" class="c-btn">{{ post.category.upper() }}</a></li>
                                                <li><a href="#"><span class="icon"><img src="img/icon/ps-1.png" alt="courses-img1"></span> Trending</a></li>
                                            </ul>
                                        </div>
                                       <h3><a href="{{ url_for('blog.get_blog_details_by_id', id=post.id) }}">{{ post.title.capitalize() }}</a></h3>
                                         <div class="post-tags mt-20">
                                            <ul>
                                                 <li><a href="#"><span class="icon"><i class="fal fa-user-crown"></i></span> Admin</a></li>
                                                 <li><a href="#"><span class="icon"><i class="fal fa-clock"></i></span> {{ post.created_at }}</a></li>
                                                 <li><a href="#"><span class="icon"><i class="fal fa-comment"></i></span> 147 Comments</a></li>
                                            </ul>
                                        </div>
                                   </div>
                               </div>
                               {% endfor %}
                              
                               
                                 
                              
                               
                            </div>
                             
                         
                        </div>
                        
                        
                    </div>
                </div>
            </section>

            <!-- slider-area-end -->
           
            <!-- featured-post-area -->          
            <section id="services" class="services-area pt-90 pb-90 fix" >
                <div class="container">
                    <div class="row">   
                        <div class="col-lg-6">
                            <div class="section-title mb-50">
                                <h2>
                              Featured Posts
                                </h2>
                               
                            </div>
                           
                        </div>
                        <div class="col-lg-6">
                            <div class="section-title text-right mt-10">
                               <a href="#">See All Posts <i class="fal fa-long-arrow-right"></i></a> 
                            </div>
                           
                        </div>
                         
                    </div>
                    <div class="row">
                        {% for post in blog_posts[:3] %}
                         <div class="col-lg-4 col-md-12">
                             
                          <div class="fp-box wow fadeInUp animated hover-zoomin"  data-delay=".4s">
                              <div class="img ">
                                  <div class="cat">{{ post.category.upper() }}</div>
                                   <img src="img/blog/lifestyle/lf-1.jpg" alt="icon01">
                                </div>
                               <div class="text">
                                    <h5><a href="{{ url_for('blog.get_blog_details_by_id', id=post.id)}}">{{ post.title.capitalize() }}</a></h5>   
                                   <div class="post-tags mt-20">
                                            <ul>
                                                 <li><a href="#"><span class="icon"><i class="fal fa-user-crown"></i></span> Admin</a></li>
                                                 <li><a href="#"><span class="icon"><i class="fal fa-clock"></i></span> {{ post.created_at }}</a></li>
                                               
                                            </ul>
                                        </div>
                                </div>
                            </div>   
                        </div>
                         {% endfor %}
                         
                        </div>
                        
                    </div>
                </div>
            </section>
             <!-- featured-post-area-end -->
               <!-- top-post-post-area -->          
            <section class="top-store-post-area pt-90 pb-60 fix" style="background: #f3f8fb;">
                <div class="container">
                      <div class="row">   
                    <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="row">   
                        <div class="col-lg-6">
                            <div class="section-title mb-50">
                                <h2>
                             Top Posts
                                </h2>
                               
                            </div>
                           
                        </div>
                        <div class="col-lg-6">
                            <div class="section-title text-right mt-10">
                               <a href="#">See All Posts <i class="fal fa-long-arrow-right"></i></a> 
                            </div>
                           
                        </div>
                         
                    </div>
                        <div class="row">
                            {% for post in blog_posts %}
                         <div class="col-lg-6 col-md-12">
                             <div class="tps-box wow fadeInUp animated hover-zoomin mb-30"  data-delay=".4s">
                              <div class="img ">
                                  <div class="cat">{{ post.category.upper() }}</div>
                                   <img src="img/blog/lifestyle/lf-7.jpg" alt="icon01">
                                </div>
                               <div class="text">
                                    <h5><a href="{{ url_for('blog.get_blog_details_by_id', id=post.id)}}">{{ post.title.capitalize() }}</a></h5>   
                                   <p>{{ post.body[:100] }}</p>
                                   <div class="post-tags mt-20">
                                            <ul>
                                                <li><a href="#"><span class="icon"><i class="fal fa-user-crown"></i></span> Admin</a></li>
                                                <li><a href="#"><span class="icon"><i class="fal fa-clock"></i></span> {{ post.created_at }}</a></li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4">
                    <aside class="sidebar-top-post">
                        <section class="subscribe mb-60">
                                <img src="img/icon/email-s.png" alt="email-s"/>
                               <h4>Subscribe Now !</h4>
                               <p>No spam, notifications only about new products, updates</p>
                               <form role="search" method="get" class="search-form" action="http://wordpress.zcube.in/finco/">
                                <label>
                                <span class="screen-reader-text">Search for:</span>
                                <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                                </label>
                                <input type="submit" class="search-submit" value="Search">
                             </form>
                           </section>
                           <section id="custom_html-5" class="widget_text widget widget_custom_html mb-30">
                                 <h2 class="widget-title">Social Link</h2>
                                 <div class="textwidget custom-html-widget">
                                    <div class="widget-social">
                                         <a href="#"><i class="fab fa-facebook-f"></i> </a>
                                       <a href="#"><i class="fab fa-instagram"> </i></a>
                                       <a href="#"><i class="fab fa-twitter"></i> </a>
                                       <a href="#"><i class="fab fa-pinterest-p"></i> </a>
                                        <a href="#"><i class="fab fa-linkedin"></i> </a>
                                         <a href="#"><i class="fab fa-youtube"></i> </a>
                                    </div>
                                 </div>
                            </section>
                           
                           <section class="tags-store mb-30">
                               <h2>Tags</h2>
                               <a href="#">TRAVEL</a>
                               <a href="#">NEWS</a>
                               <a href="#">LIFE STYLE</a>
                               <a href="#">MUSIC</a>
                               <a href="#">FOOD</a>
                               <a href="#">HISTORY</a>
                               <a href="#">FASHION</a>
                               <a href="#">WEBSITE</a>
                               <a href="#">GAMING</a>
                           </section>
                             
                        </aside>
                    
                </div>
                </div>
                </div>
            </section>
             <!-- top-Stories-post-area-end -->
            
            
             <!-- recent-post-area -->          
            <section class="recent-post-area pt-90 pb-60 fix">
                <div class="container">
                      <div class="row">   
                    <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="row">   
                        <div class="col-lg-12">
                            <div class="section-title mb-50">
                                <h2>
                             Recent Posts
                                </h2>
                               
                            </div>
                           
                        </div>
                        
                         
                    </div>
                        <div class="row">
                        {% for post in blog_posts[:3] %}
                         <div class="col-lg-12 col-md-12">
                             <div class="rp-box wow fadeInUp animated hover-zoomin mb-30"  data-delay=".4s">
                              <div class="img ">
                                  
                                   <img src="img/blog/food/fd-1.jpg" alt="icon01">
                                </div>
                               <div class="text">
                                   <div class="cat">{{ post.category.upper() }}</div>
                                    <h5><a href="{{ url_for('blog.get_blog_details_by_id', id=post.id) }}">{{ post.title.capitalize() }}</a></h5>   
                                   <p>{{ post.body[:30] }}</p>
                                   <div class="post-tags mt-10">
                                            <ul>
                                                 <li><a href="#"><span class="icon"><i class="fal fa-user-crown"></i></span> Admin</a></li>
                                                 <li><a href="#"><span class="icon"><i class="fal fa-clock"></i></span> {{ post.created_at }}</a></li>
                                            </ul>
                                        </div>
                                </div>
                            </div>   
                             
                         
                        </div>
                            {% endfor %}
                             
                         
                        </div>
                         
                        
                    </div>
                    
                    </div>

                    
                </div>
                </div>
            </section>
             <!-- recent-post-area-end -->
            
            
            <!-- editor-choice -->          
            <section id="editor-choice" class="editor-choice-area pt-90 pb-60 fix" style="background: #f3f8fb;" >
                <div class="container">
                    <div class="row">   
                        <div class="col-lg-12">
                            <div class="section-title center-align mb-50">
                                 
                                <h2>
                                    Editor Choice
                                </h2>
                             
                            </div>
                           
                        </div>
                         
                    </div>
                    <div class="row home-blog-active">
                        {% for post in blog_posts[:-3] %}
                        <div class="col-lg-4 col-md-12">
                             
                          <div class="fp-box wow fadeInUp animated hover-zoomin mb-30"  data-delay=".4s">
                              <div class="img ">
                                  <div class="cat">{{ post.category.upper() }}</div>
                                   <img src="img/blog/lifestyle/lf-1.jpg" alt="icon01">
                                </div>
                               <div class="text">
                                    <h5><a href="{{ url_for('blog.get_blog_details_by_id', id=post.id) }}">{{ post.title.capitalize() }}</a></h5>   
                                   <div class="post-tags mt-20">
                                            <ul>
                                                 <li><a href="#"><span class="icon"><i class="fal fa-user-crown"></i></span> Admin</a></li>
                                                 <li><a href="#"><span class="icon"><i class="fal fa-clock"></i></span> {{ post.created_at }}</a></li>
                                               
                                            </ul>
                                        </div>
                                </div>
                            </div>   
                             
                         
                        </div>
                        {% endfor %}
                         
                        
                    </div>
                </div>
            </section>
            <!-- case-study-end -->
            
            
           
			
         
        </main>
        <!-- main-area-end -->
       <!-- footer -->
       {% endblock %}