{% extends 'base.html' %}
{% block content %}
<section id="services" class="services-area pt-90 pb-60 fix">
    <div class="container">
        <h3 style="padding-left: 10%; padding-bottom: 30px"> Create your account with us now... </h3>
        <div class="row">
            
<div class="col-lg-8 col-md-12">
    {% include 'messages.html' %}
    <form method="post" class="contact-form ">
       <div class="row">
        <div class="col-lg-12">
            <div class="contact-field p-relative c-name mb-20">
                <input type="text" id="firstn" name="fullname" placeholder="Full Name" required>
            </div>
        </div>
       <div class="col-lg-12">
           <div class="contact-field p-relative c-name mb-20">
               <input type="text" id="firstn" name="username" placeholder="username" required>
           </div>
       </div>
       
       <div class="col-lg-12">
           <div class="contact-field p-relative c-subject mb-20">
               <input type="email" id="email" name="email" placeholder="Eamil" required>
           </div>
       </div>		
       <div class="col-lg-12">
           <div class="contact-field p-relative c-subject mb-20">
               <input type="text" id="phone" name="phone" placeholder="Phone No." required>
           </div>
        </div>
        <div class="col-lg-12">
            <div class="contact-field p-relative c-email mb-20">
                <input type="password" id="lastn" name="password" placeholder="Password" required>
            </div>
        </div>
       <div class="col-lg-12">
        <div class="slider-btn">
            <button class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s" type="submit">Register Now</button>				
        </div>
    </div>
    </div>

</form>
    
   </div>
</div>
</div>
</div>
</section>

{% endblock %}