{% extends 'base.html' %}
{% block content %}
        <!-- main-area -->
        <main>
            <div class="col-lg-4">
                <div class="">
                    <a href="{{ url_for('shop.create_new_product')}}">
                    <button class="btn" data-animation="fadeInRight" data-delay=".8s" type="submit">Create new product</button>
                    </a>
                </div>
            </div>
			<!-- shop-area -->
            <section class="shop-area  p-relative " data-animation="fadeInUp animated" data-delay=".2s">
                <div class="container">
					<div class="row">
						<div class="col-lg-6 col-sm-6">
						<h6 class="mt-20 mb-30">Showing 1–9 of {{ total }} results</h6>
						</div>
						<div class="col-lg-6 col-sm-6 text-right">
							<select name="orderby" class="orderby" aria-label="Shop order">
								<option value="menu_order" selected="selected">Default sorting</option>
								<option value="popularity">Sort by popularity</option>
								<option value="rating">Sort by average rating</option>
								<option value="date">Sort by latest</option>
								<option value="price">Sort by price: low to high</option>
								<option value="price-desc">Sort by price: high to low</option>
							</select>
						</div>
					</div>
                    <div class="row align-items-center">
                        {% for product in products[:9] %}
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="shop-details.html"><img src="img/shop/img4.jpg" alt=""></a>
                                        <div class="product-action text-center">
                                            
                                            <a href="shop-details.html">Add Cart</a>
                                            
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">{{ product.category }}</a></span>
                                        <h4 class="pro-title"><a href="shop-details.html">{{ product.title }}</a></h4>
                                        <div class="price">
                                            <span>Kes {{ product.price }}</span>
                                            <span class="old-price">Kes {{ product.price + product.price * 0.12 }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                                
                    </div>
					<div class="row">
                    <div class="col-12">
                        <div class="pagination-wrap mt-50 text-center">
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item"><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                        <li class="page-item active"><a href="#">1</a></li>
                                        <li class="page-item"><a href="#">2</a></li>
                                        <li class="page-item"><a href="#">3</a></li>
                                        <li class="page-item"><a href="#">...</a></li>
                                        <li class="page-item"><a href="#">10</a></li>
                                        <li class="page-item"><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                    </div>
                <div></div></div>
                </div>
            </section>
            <!-- shop-area-end -->
        
          
			
         
        </main>
        <!-- main-area-end -->
      {% endblock %}